.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 40px;
  border-left: 2px solid black;
  min-height: 100vh;
}

.instructions div {
  margin-left: 10px;
}
